@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fredoka:wght@300..700&family=Lacquer&family=Permanent+Marker&display=swap");

:root {
  text-align: center;
  --Smoky-black: #121200;
  --Payne’s-gray: #326273;
  --Anti-flash-white: #eaeaeb;
  --Ash-gray: #a4b6ac;
  --border: 1px solid rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 20% 2fr;
  padding: 30px 0px 45px 0px;
}
.logo-box {
  border: 5px solid #000;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}
.logo-box img {
  display: block;
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 150px 50px 150px 10px;
  border: #000;
  
  font-size: xx-large;
}
header h1 {
  font-family: Lacquer, Arial, Helvetica, sans-serif;
  color: var(--Smoky-black);
  font-size: xx-large;
  background-color: rgb(209, 242, 248);
  margin-bottom: 10px;
  text-align: center;
  position: static;
}

body {
  font-family: "Covered By Your Grace", Helvetica, sans-serif;
  color: var(--Smoky-black);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

p {
  font-family: Fredoka, "Times New Roman", Times, serif;
  color: var(--Smoky-black);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  font-size: xxx-large;
  width: 100%;
  height: fit-content;
  top: 120px;
  background-color: #eaeaebad;
}

.hero article {
  position: absolute;
  text-align: center;
  background-color: #326273ec;
  top: 400px;
  border-radius: 8px;
}

.hero article img {
  float: right;
  height: auto;
  width: 200px;
  border: var(--border);
}

footer a {
  text-decoration: none;
  display: grid;
}

.box {
  margin: 1rem;
  border: var(--border);
  padding: 1rem;
  background-color: lightgray;
  color: #000;
}
